.headingTitle {
	color: white;
	background-color: #454545;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: center;
    height: 100px;
    font-family: "Futura", Times, serif;
}

.btn {
	background-color: #454545;
    border: #454545;
    color: white;
}